*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 10px;
    margin: 50px auto;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 5px;
}
input:focus{
    border-bottom: 1px solid black;
}
button{
    margin: 10px auto 0;
    width: max-content;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
}
.error-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    & .error{
        color: red;
    }
}
.info-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}